.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    min-width: 10%;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: var(--button-primary);
    padding: 10px 25px;
    color: var(--background-secondary);
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
}

.secondary {
    background-color: var(--button-secondary);
}

.add {
    width: 15%;
}

@media only screen and (max-width: 700px) {
    .add {
        width: fit-content;
        width: -moz-fit-content;
    }
}