.card {
    background-color: var(--background-secondary);
    padding: 24px;
    top: 1rem;
    left: 1rem;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: none;
}

.textField div input {
    height: 0.5rem;
}

.select {
    color: rgba(0, 0, 0, 0.45);
    height: 4rem;
}

.submitButton {
    width: 37%;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: var(--button-primary);
    padding: 10px 25px;
    color: var(--background-secondary);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0rem;
}