* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: unset;
}

:root {
  --background-primary: #f0f2f5;
  --background-secondary: #ffffff;
  --button-primary: #f5222d;
  --button-secondary: #d9d9d9;
  --border-primary: #d9d9d9;
}

body {
  background-color: var(--background-primary);
}

html {
  font-size: 62.5%;
}

main,
section {
  padding: 2.8rem;
}