.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.control {
    width: 40%;
}

.input {
    background-color: var(--background-secondary);
}

.icon {
    font-size: 2rem;
}

@media only screen and (max-width: 700px) {
    .search {
        padding: 0px 28px;
        width: 100%;
    }

    .control {
        width: 100%;
    }
}