.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.headMobile {
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 0.1rem solid var(--border-primary);
}

.head {
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 0.1rem solid var(--border-primary);
}

.names {
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.2rem;
    font-weight: 550;
}


.row {
    border-bottom: 0.1rem solid var(--border-primary);

}

.enabled {
    color: rgba(0, 0, 0, 0.65);
    font-size: 1rem;
    font-weight: 550;
    width: 7rem;
    border-radius: 2px;


}

.avatar {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.cell {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
}

.cellAssigned {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;

}

.avatarImg {
    width: 2.9rem;
    height: 2.8rem;
}

.created {
    color: rgba(0, 0, 0, 0.45)
}

.icon {
    cursor: pointer;
    padding: 1rem 3rem;

}

.edit {


    gap: 0.5rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 12rem;
    height: 6rem;
    border-bottom: 1px solid var(--border-primary);

}

.iconEdit {
    margin-left: 1.3rem;
    width: 20px;

}

.iconDelete {
    margin-left: 0.7rem;
    width: 20px;
}

.delete {
    margin-left: 0.5rem;
    gap: 0.rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 10rem;
    height: 6rem;


}

@media (width < 899px) {

    .container {
        overflow-x: hidden;
        position: absolute;
        top: 13rem;
        left: 0;

    }

    .table {
        min-width: 50%;
        height: 25rem;
    }

    .contenedor {
        position: relative;
        padding: 0rem 0rem 2rem;
        color: rgba(0, 0, 0, 0.65);
    }

    .cell,
    .head,
    .avatar,
    .enabled {
        display: none;
    }

    .cellAssigned {
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
        position: absolute;
        left: 1.9rem;
        margin-top: 1rem;
    }

    .avatarImg {
        width: 2rem;
        height: 2rem;
    }



}