.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.head {
    font-size: 1.4rem;
    font-weight: 600;
}

.names {
    font-size: 1.2rem;
    font-weight: 550;
}


.row {
    border-bottom: 0.1rem solid var(--border-primary);

}

.enabled {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
    width: 7rem;
    border-radius: 2px;


}

.avatar {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.cell {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
}

.icon {
    padding: 1rem 3rem;

}